/* GENERAL STYLES */

:root{
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-color: #333333;
    --background-color: #f8f8f8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-header {
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.main-content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; 
}
