.formContainer {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.formContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButton {
  width: 100%;
  padding: 10px;
  background-color: #1db954; /* Un verde tipo Spotify */
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #1ed760;
}

.formError {
  color: #e60000;
  background-color: #ffebee;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 15px;
}

.formLink {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #555;
}